{% extends "layout.html" %}

{% block content %}

<div class="page-header">
  <h1>
    Slaves
  </h1>
</div>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    {%- if show_builder_column %}
    <th>Builders</th>
    {%- endif %}
    <th>BuildBot</th>
    <th>Admin</th>
    <th>Last heard from</th>
    <th>Connects/Hour</th>
    <th>Status</th>
  </tr>
</thead>

{% for s in slaves %}
  <tr>
  <td><b><a href="{{ s.link }}">{{ s.name }}</a></b></td>

  {%- if show_builder_column %}
    <td>
    {%- if s.builders %}
      {%- for b in s.builders %}
        <a href="{{ b.link }}" class="btn btn-mini btn-inverse">{{ b.name }}</a><br/>
      {%- endfor %}
    {%- else %}
      <span class="Warning">no builders</span>
    {%- endif -%}
    </td>
  {%- endif %}


  <td>{{ (s.version or '-')|e }}</td>
 
  {%- if s.admin -%}
    <td>{{ s.admin|email }}</td>
  {%- else -%}
    <td>-</td>
  {%- endif -%}

    <td>
    {%- if s.last_heard_from_age -%}
      {{ s.last_heard_from_age }} <small>({{ s.last_heard_from_time }})</small>
    {%- endif -%}
    </td>
    <td>
    {{ s.connectCount }}
    </td>

  {% if s.connected %}
    {% if s.running_builds %}
      <td><p class="label label-warning">Running {{ s.running_builds }} build(s)</p></td>
    {% else %}
      <td><p class="label">Idle</p></td>
    {% endif %}

  {% else %}
    <td><p class="label">Not connected</label></td>
  {% endif %}

  </tr>
{% endfor %}
</table>

{% endblock %}
