{% macro category_title() -%}
 {% if categories %}
  <br>
  {% trans categories=categories %}
   <b>Category:</b></br>
  {% pluralize categories %}
   <b>Categories:</b><br/>
  {% endtrans %}
  {% for c in categories %}
    {{ c|e }}<br/>
  {% endfor %}
 {% endif %}

 {% if branch != ANYBRANCH %}
  <br><b>Branch:</b> {{ branch|e or "trunk" }}
 {% endif %}
{%- endmacro %}


{% macro stamp_td(ss) -%}
  <th>
    {%- if ss.revision -%}
    {{ ss.revision|shortrev(ss.repository) }}
    {%- else %}Latest{% endif %}
    {%- if ss.branch %} in {{ ss.branch|e }}{% endif %}
    {%- if ss.hasPatch %} [patch]{% endif %}
  </th>
{%- endmacro %}

{% macro builder_td(b) -%}
  <td class="builder {{ b.state }}">
    <a href="{{ b.url }}" class="btn btn-mini btn-inverse">
      {{ b.name }}
    </a>
    {%- if b.state != 'idle' or b.n_pending > 0 -%}
      <br/>({{ b.state }}
      {%- if b.n_pending > 0 -%}
        , plus {{ b.n_pending }}
      {%- endif -%}
      )
    {%- endif -%}
  </td>
{%- endmacro %}

{% macro build_td(build) -%}
{% if build %}
  <td class="build {{ build.class }}">
    <a href="{{ build.url }}" class="btn btn-mini">
      Details
    </a>
    <br/>
    {{ build.text|join('<br/>') }}
  </td>
{% else %}
  <td class="build">&nbsp;</td>
{% endif %}
{%- endmacro %}

